DATABASE_URL="file:./dev.db"
AUTH_SECRET="generate-with: node -e \"console.log(require('crypto').randomBytes(32).toString('hex'))\""
ADMIN_EMAIL="propsk28@gmail.com"
ADMIN_PASSWORD="CLEAN"
ADMIN_NAME="Katie Proper"
